*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100vw;
    background-color: blueviolet;
}
.logo{
    margin-left: 3vw;
    font-size: 2vw;
    font-weight: 900;
    color: white;
}

.logo span{
    color: rgb(233, 17, 17);
    font-size: 2.5vw;
}

.obj
{
    display: flex;
    gap: 4vw;
    margin-right: 3vw;
    list-style: none;
}

.obj li a{
    text-decoration: none;
    padding: 10px;
    color: white;
    border: 1.5px solid transparent;
    border-radius: 50px;
    transition: 0.5s;
}

.obj li a:hover{
    border: 1.5px solid black;
    background-color: black;
    transition: 0.5s;
}

span{
    font-size: 2.5vw;
    color: white;
    line-height: 10vh;
    
}

.u{
    margin-left: 3vw;
}

.main{
    background-color: black;
    height: auto;
    width: 100%;
}

.box{
    display: flex;
}

.events{
    margin-left: 3vw;
    margin-right: 3vw;
    width: 94%;
    height: calc(100vh - 140.5px);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    
}

.box{
    height: 150px;
    width: 300px;
    /* background-color: white; */
    
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    /* justify-content: space-evenly; */
}

.box:hover{

    transform: scale(1.1);
    .purple{
        background-color: rgb(49, 47, 47);
        color: white;
        transition: 0.5s;

    }
}

.purple{
    width: 40%;
    height: 100%;
    background-color: blueviolet;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 30px;
    font-weight: 900;
}

.white
{
    width: 60%;
    height: 100%;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    font-weight: 900;
    flex-direction: column;
}

.white a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 10px;
    border: 1.5px solid transparent;
    border-radius: 50px;
    background-color: blueviolet;
    margin-top: 20px
}

.white a:hover{
    background-color: black;
    color: white;

}


@media (max-width:642px) {
    .events{
        justify-content: center;
    }
    .logo{
        font-size: 8vw;
    }
    .logo span{
        font-size: 10vw;
    }
    span{
        font-size: 5vw;
    }
    .main{
        height: auto;
    }
}




